<!DOCTYPE html>
<html>
    <head>
        <title>Olga Vyrostko</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="foundation-5/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="foundation-5/css/foundation.min.css" />
        <link rel="stylesheet" type="text/css" href="foundation-5/css/foundation.css" />
        
        <!--[if lt IE 9]>
	       <link rel="stylesheet" href="foundation-5/normalize.css">
	       <link rel="stylesheet" href="foundation/foundation.css">
           <link rel="stylesheet" href="foundation/foundation.min.css">
	       <link rel="stylesheet" href="foundation/app.css">
        <![endif]-->
        
        <!--[if IE]><link rel="shortcut icon" href="favicon.jpg" /><![endif]-->
        
        <link rel="icon" href="favicon.jpg" />
        <link rel="apple-touch-icon-precomposed" href="favicon.jpg" />
        
        <!-- custom -->
        <link rel="stylesheet" type="text/css" href="css/buttons.css" />
        <link rel="stylesheet" type="text/css" href="css/min.css" />
        <link rel="stylesheet" type="text/css" href="css/presents.css" />
        
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        
        <!-- Scripts -->
        <script src="js/voting.js"></script>
        <script src="js/min.js"></script>
    </head>
    <body onkeydown="keydownCallbackMin( event )">
        <div class="header" onmouseover="showPageTitle( )"  onmouseout="showNameTitle( )">
            <header>
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <div id="hidden-menu">
                            <h3 id="name-header">Olga Vyrostko</h3>
                            <h3 id="page-header">New Year Voting</h3>
                            <div class="header-tools">
                                <a onclick="{{loginOnclick}}" href="{{loginHref}}" class="button small header-tool tooltip" data-tooltip="Profile">
                                    <img src="resources/icons/user60.png" alt="User"/>
                                </a>
                                <a href="#" class="button small header-tool tooltip" id="show-menu-action" data-tooltip="Show menu" onclick="showMenu( )">
                                    <img src="resources/icons/menu-bold.png" alt="Menu"/>
                                </a>
                                <a href="#" class="button small header-tool tooltip" id="hide-menu-action" data-tooltip="Hide menu" onclick="hideMenu( )">
                                    <img src="resources/icons/drop27.png" alt="Drop"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <div id="shown-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li><a href="/works">Works</a></li>
                                <li><a href="/resume">Resume</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a href="/guestbook">Hello</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <main>
            <div class="content-wrapper" id="content-wrapper">
                <form>
                    <input type="hidden" id="token" value="{{token}}"/>
                    <div class="row first-content-row">
                        <div class="twelve small-12 medium-12 large-12 columns">
                            <h4>Ideal day for celebrating New Year</h4>
                        </div>
                    </div>
                    <div class="row">
                        <input id="date" type="date"/>
                    </div>
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12">
                            <h4>Ideal place</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12">
                            <input id="place" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12">
                            <h4>Ideal present</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six small-12 medium-12 large-12 columns">
                            <select id="present">
                                <option value="1">Ball with snow</option>
                                <option value="2">Book</option>
                                <option value="3">Christmas cookies</option>
                                <option value="4">iPhone6</option>
                            </select>
                        </div>
                        <div class="two small-12 medium-6 large-3 columns">
                            <img class="present" src="resources/Presents/1.jpg" alt=""/>
                        </div>
                        <div class="two small-12 medium-6 large-3 columns">
                            <img class="present" src="resources/Presents/2.jpg" alt=""/>
                        </div>
                        <div class="two small-12 medium-6 large-3 columns">
                            <img class="present" src="resources/Presents/3.jpg" alt=""/>
                        </div>
                        <div class="two small-12 medium-6 large-3 columns">
                            <img class="present" src="resources/Presents/4.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12 columns">
                            <a class="button medium" onclick="vote( )">Vote</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12 columns">
                            <hr/>
                        </div>
                    </div>
                    <!-- start results block -->
                    <div class="row">
                        <div class="twelve small-12 medium-12 large-12 columns">
                            <h4>Results</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5>Day</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5 id="date-result">Day</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <img id="date-counter" src="" alt="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5>Place</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5 id="place-result">Place</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <img id="place-counter" src="" alt="" />
                        </div>
                    </div>
                    <div class="row present-results-row last-content-row">
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5>Present</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <h5 id="present-result-name">Present</h5>
                        </div>
                        <div class="three small-12 medium-3 large-3 columns">
                            <img id="present-result" src="" alt=""/>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <div class="footer">
            <footer>
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <ul class="text-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/guestbook">Hello</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <ul class="tools-list">
                            <li>
                                <a href="http://vk.com/id21816928" class="button tiny footer-tool">
                                    <img src="resources/icons/vk3.png" alt="VK"/>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:ovi@olgavyrostko.esy.es?subject=Отзыв%20гостевой%20книги" class="button tiny footer-tool">
                                    <img src="resources/icons/mail.png" alt="EMAIL"/>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://plus.google.com/u/0/108531291967829787588/posts" class="button tiny footer-tool">
                                    <img src="resources/icons/google1.png" alt="g+"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <h6>&copy; - 2015 - Olga Vyrostko </h6>
                    </div>
                </div>
            </footer>
        </div>
        <div id="log-in-modal" class="modal">
            <div class="row modal-wrapper">
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <a onclick="makeLoginInvisible( )" href="#" class="close tool">
                            <img src="resources/icons/close33.png" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve small-12 medium-12 large-12 columns">
                        <form action="/userCab" method="post">
                            <input type="hidden" name="_csrf" value={{token}} />
                            <div class="row">
                                <div class="twelve small-12 medium-12 large-12 columns">
                                    <input name="login" id="login" type="text" placeholder="Your email or login" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve small-12 medium-12 large-12 columns">
                                    <input name="password" id="password" type="password" placeholder="Password" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve small-12 medium-12 large-12 columns">
                                    <input onclick="makeLoginInvisible( )" type="submit" value="Log in" id="log-in-modal-submit" class="button small"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve small-12 medium-12 large-12 columns">
                                    <a onclick="makeLoginInvisible( )" href="/registration" id="log-in-modal-register" class="button small">Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>