.content-wrapper p {
    margin: 0px;
    padding: 0px;
    
    color: #8a8a8a;
    
    font-family: 'Noto Serif', serif;
    letter-spacing: 0px;
    line-height: 1.5em;
    font-weight: 400;
}

.content-wrapper a:link, main a:hover, main a:active, main a:visited {
    margin: 0px;
    padding: 0px;
    
    color: #8a8a8a;
    
    font-family: 'Noto Serif', serif;
    letter-spacing: 0px;
    line-height: 1.5em;
    opacity: 1;
    font-weight: 400;
    
    text-decoration: underline;
}

.content-wrapper a:hover {
    opacity: 0.8;
}

.content-wrapper ul {
    padding-top: 5px;
    padding-bottom: 0px;
}

.content-wrapper ul li {
    color: #8a8a8a;
    
    font-family: 'Noto Serif', serif;
    letter-spacing: 0px;
    line-height: 1.5em;
    opacity: 1;
    font-weight: 400;
}

.content-wrapper .header {
    background-color: #525252; 
    /*background-color: #CFCFCF;*/
    border-radius: 4px 8px 8px 4px;
    
    font-weight: 700;
    min-height: 30px;
}

.content-wrapper .header p {
    color: #CFCFCF;
    font-weight: 400;
    
    font-size: 1.1em;
}

.content-wrapper .row {
    padding-left: 8%;
    padding-top: 5px;
}

.content-wrapper .first-content-row {
    padding-left: 5%;
}

#awards {
    text-align: justify;
}
